@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Prompt:wght@400;700&display=swap');

/* globals.css */
body {
  font-family: 'Prompt', sans-serif; /* Ensure this matches the font family you are importing */
}

html {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Prompt', sans-serif;
}
